@model WebApplication3.Models.Produs

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Produs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vanzare.vanzareId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vanzare.vanzareId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descriere)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descriere)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.produsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
